body {
    font-size: 8mm;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align: center;

}

input, button, select, option, textarea {
    font-size: 1em;

}

input, button {
    min-height: 3cm;
    min-width: 3cm;
    padding: .5cm;
}
